---
import Layout from '../../layouts/Layout.astro';
import { marcas } from '../../lib/mangos';
import Galeria from '../../components/Galeria.astro';
import BtnVerde from '../../components/BtnVerde.astro';

// Obtener las rutas basadas en las marcas
export function getStaticPaths() {
  return marcas.map((marca) => ({
    params: {
      grupo: marca.slug
    },
  }));
}

const { grupo } = Astro.params;

// Buscar la marca actual
const miMarca = marcas.find((m) => m.slug == grupo);

// Verificación para evitar errores si no se encuentra la marca
if (!miMarca) {
  console.error(`No se encontró la marca: ${grupo}`);
}

// Obtener el índice de la marca actual
const indiceActual = marcas.findIndex((m) => m.slug == grupo);

// Obtener la marca anterior y la siguiente (si existen)
const marcaAnterior = indiceActual > 0 ? marcas[indiceActual - 1] : null;
const marcaSiguiente = indiceActual < marcas.length - 1 ? marcas[indiceActual + 1] : null;
---

<Layout title="Productos de la Marca">
  <main class="sm:w-4/5 m-auto flex flex-col justify-center items-center mt-10 text-white">

    <!-- Imagen de la marca -->
    {miMarca ? (
      <img src={`/images/${miMarca.slug}.png`} alt={`Logo de ${miMarca.titulo}`} class="mb-8 w-2/3 mt-10 " transition:name="hero" />
    ) : (
      <p>No se encontró la marca</p>
    )}

    {miMarca?.productos?.length > 0 ? (
      miMarca.productos.map((miProducto) => (
        <section class="w-full flex sm:flex-row flex-col justify-center items-center mt-24 mb-12">
          <div class="w-full order-2 sm:w-1/2 flex flex-col justify-center items-center mb-10">
            {miProducto?.fotos?.length > 0 ? (
              <Galeria 
                img1={miProducto.fotos[0]} 
                img2={miProducto.fotos[1]} 
                img3={miProducto.fotos[2]} 
                nombre1={miProducto.sabores[0]} 
                nombre2={miProducto.sabores[1]} 
                nombre3={miProducto.sabores[2]} 
              />
            ) : (
              <p>No hay imágenes disponibles</p>
            )}
          </div>
          
          <div class="w-4/5 sm:w-1/2">
            <article>
              <div>
                <h1 class="font-pepsi-compress text-white text-6xl my-4">{miProducto.titulo}</h1>
                <p class="text-justify">{miProducto.detalles}</p>
              </div>
              <ul class="mb-2 mt-6">
                <li><span class="font-bold">Calories:</span> {miProducto.calorias || 'No disponible'}</li>
                <li><span class="font-bold">Sweetener System:</span> {miProducto.sweetnerSystem || 'No disponible'}</li>
                {miProducto.info && miProducto.info.length > 0 && (
                  <>
                    <li><span class="font-bold">Additional Info:</span></li>
                    {miProducto.info.map((info, index) => (
                      <li key={index}>{info}</li>
                    ))}
                  </>
                )}
              </ul>
              <div class="flex justify-start gap-4 my-6">
                {miProducto.paises && miProducto.paises.length > 0 ? (
                  miProducto.paises.map((pais, index) => (
                    <img key={index} class="h-12" src={`/images/${pais}.webp`} alt={`Bandera de ${pais}`} />
                  ))
                ) : (
                  <p></p>
                )}
              </div>
            </article>
          </div>
        </section>
      ))
    ) : (
      <p>No hay productos disponibles para esta marca</p>
    )}

    <!-- Navegación entre marcas -->
    <nav class="flex justify-between w-4/5 mt-8 mb-10">
      <!-- Botón "Volver" a la marca anterior -->
      {marcaAnterior ? (
        <a href={`/counters/${marcaAnterior.slug}`} class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium  rounded-lg group bg-gradient-to-br from-white to-white via-white group-hover:from-purple-500 group-hover:to-pink-500 hover:text-[#231f20] focus:ring-4 focus:outline-none focus:ring-purple-200">
          <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-[#231f20]  rounded-md group-hover:bg-opacity-0 font-pepsi-extended">
            {/* {marcaAnterior.titulo} */} Anterior
          </span>
        </a>
      ) : (
        <div></div> <!-- Espacio vacío si no hay marca anterior -->
      )}

      <!-- Botón "Ir a" la siguiente marca -->
      {marcaSiguiente ? (
        <a href={`/counters/${marcaSiguiente.slug}`} class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium  rounded-lg group bg-gradient-to-br from-white to-white via-white0 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-[#231f20] focus:ring-4 focus:outline-none focus:ring-purple-200">
          <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-[#231f20]  rounded-md group-hover:bg-opacity-0 font-pepsi-extended">
              {/* {marcaSiguiente.titulo} */} Siguiente
          </span>
        </a>
      ) : (
        
      <a href="/packaging" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium  rounded-lg group bg-gradient-to-br from-white to-white via-white group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-purple-200">
          <span class="relative text-green-500 px-5 py-2.5 transition-all ease-in duration-75 bg-[#231f20]  rounded-md group-hover:bg-opacity-0 font-pepsi-extended">
              <BtnVerde text="Packaging" />
          </span>
        </a>

      )}
    </nav>

  </main>
</Layout>
