---
const { img1, img2, img3, nombre1, nombre2, nombre3} = Astro.props

const datos = [];

if (img1 !== '') {
  datos.push({ imagen: img1, nombre: nombre1 || '' });
}

if (img2 !== '') {
  datos.push({ imagen: img2, nombre: nombre2 || '' });
}

if (img3 !== '') {
  datos.push({ imagen: img3, nombre: nombre3 || '' });
}

let idCaja = 'id'+nombre1

---

    <div class="w-4/5 sm:w-1/2">
        <div class="container">
            <!-- Close the image -->
          
            <!-- Expanded image -->
            <img  src=`/images/${img1}.webp` id={idCaja} style="width:100%">
          
            
          </div>
        
          <div class="row flex justify-center">

            {
                datos.map((dato) => (
                <div class="column text-center">
                    <img src=`/images/${dato.imagen}.webp` alt={idCaja} onclick="myFunction(this);">
                    <span class="text-sm">{dato.nombre}</span>
                </div>
                ))
            }

          </div>
    </div>
  

  <style>
        /* The grid: Four equal columns that floats next to each other */
    .column {
    float: left;
    width: 33%;
    padding: 10px;
    }

    /* Style the images inside the grid */
    .column img {
    opacity: 0.8;
    cursor: pointer;
    }

    .column img:hover,  .column img:hover {
    opacity: 1;
    border: 2px solid ;

    }

    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    /* The expanding image container (positioning is needed to position the close button and the text) */
    .container {
    position: relative;
    display: block;
    }

    /* Expanding image text */
    #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
    }

    /* Closable button inside the image */
    .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    }
  </style>

  <script is:inline>
   function myFunction(imgs) {
  let id = imgs.alt
  var expandImg = document.getElementById(id);
  var imgText = document.getElementById("imgtext");
  expandImg.src = imgs.src;
  imgText.innerHTML = imgs.alt;
  expandImg.parentElement.style.display = "block";
}
  </script>